<h1>Create User</h1>
<%= link_to "Create New User", new_user_registration_path %>

<!-- 
<h1>Create User</h1>
<% @users.each do |user| %>
  <p>Name: <%= user.name %></p>
  <p>Email: <%= user.email %></p>
  <%= image_tag(user.image, {:style => "width:500px;"}) %>
  <br>
<% end %>
-->
