<head>
  <title>Home Page</title>
</head>
<body>
  <h2>Login</h2>
  <form action="/login" method="post">
    <label for="name">Name:</label>
    <input type="text" name="Name" required><br>

    <label for="email">Email:</label>
    <input type="text" name="Email" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" required><br>

    <input type="submit" value="Login">
  </form>

  <a href="/signup">Sign Up</a>
</body>
</html>




